/* .header img{
    height: auto;
    width: auto;
    border: solid rgb(253, 253, 253) 2px;
    border-radius: 25px;
    display: inline;
} */

.tableData h2 {
  text-align: center;
  color: #5a5a5a;
  /* background: -webkit-linear-gradient(#000000, #ED2024);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  margin-bottom: 80px;
  font-style: italic;
  letter-spacing: 5px;
}

b {
  color: black;
}

.tableData .container {
  background: rgba(235, 235, 235, 0.4);
  padding: 30px;
  border-radius: 20px;
}

.tableData .function {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

.tableData table .detail-table .btn-history {
  width: 40px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
}

.tableData table .detail-table .btn-history:hover {
  transform: scale(1.1);
}

.tableData table .detail-table .btn-history a i {
  color: black;
}

.tableData table .detail-table .btn-history a i:hover {
  color: #ed2024;
}

.tableData .function .btn-search {
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  border-radius: 5px;
  border: solid rgb(211, 211, 211) 2px;
}

.tableData .function .search {
  width: 200px;
  height: 35px;
  padding-left: 12px;
  border-radius: 5px;
  border: solid rgb(211, 211, 211) 2px;
  font-size: 16px;
  outline: none;
}

/* --------------------------------------------- */
/* ------------------- Table ------------------- */
/* --------------------------------------------- */

.wrap{
    display: block;
    justify-content: center;
    border: 20px;
}

table{
    width: 100%;
    /* margin-top: 2%; */
    border-radius: 20px;
}

.cate{
    border-right: 1px solid rgb(221, 221, 221);
}

table thead{
    background-color: rgb(221, 173, 173);
}

table tbody{
    background-color: rgb(221, 173, 173);
}

table td,th{
    font-size: 18px;
    vertical-align: middle;
}

.hr{
    width: 95%;
    margin: auto;
}

.part-table {
    width: 100px;
    text-align: center;
    /* border-bottom: 1px solid rgb(196, 196, 196); */
  }

.id-row{
    /* background-color: #ed2024; */
    width: 100px;
    border-right: 1px solid rgb(221, 221, 221);
    border-top-left-radius: 12px;
    vertical-align: middle;
}

table  .data-parameter{
    border-top-right-radius: 12px;
}

table tbody tr.device{
    /* background-color: rebeccapurple; */
    height: 50px;
}

.scroltable-wrapper {
    position: relative;
  }
  .scroltable-container {
    overflow: auto;
  }
  .scroltable-nav {
    display: none;
    position: absolute;
    width: 60px;
    height: 100%;
    cursor: pointer;
  }
  .scroltable-nav.scroltable-nav-left {
    left: 0;
    background: url(images/arrow-left.png) no-repeat 10px center,
      -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0), #fff);
    background: url(images/arrow-left.png) no-repeat 10px center,
      -moz-linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
    background: url(images/arrow-left.png) no-repeat 10px center,
      -ms-linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
    background: url(images/arrow-left.png) no-repeat 10px center,
      -o-linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
    background: url(images/arrow-left.png) no-repeat 10px center,
      linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
  }
  .scroltable-nav.scroltable-nav-right {
    right: 0;
    background: url(images/arrow-right.png) no-repeat right 10px center,
      -webkit-linear-gradient(0, rgba(255, 255, 255, 0), #fff);
    background: url(/images/arrow-right.png) no-repeat right 10px center,
      -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    background: url(images/arrow-right.png) no-repeat right 10px center,
      -ms-linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    background: url(/images/arrow-right.png) no-repeat right 10px center,
      -o-linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    background: url(images/arrow-right.png) no-repeat right 10px center,
      linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
  }

  .tableData .tableAnalys {
    overflow: scroll;
    width: 100%;
  }

.tableData tr > td {
  text-align: center;
}